/* -------------------------------------- Aniation reltives aux titre (sorte de vague) -------------------------------------- */

@-webkit-keyframes jumping-waves-letter {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0);
    }
}

@keyframes jumping-waves-letter {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0);
    }
}

/* -------------------------------------- Animation relative au fait de taper du texte au clavier -------------------------------------- */

@-webkit-keyframes apparition-letter-typing-name {
    0% {
        width: 0;
    }
    16.67% {
        width: 8ch;
    }
    22% {
        width: 8ch;
        border-right: solid;
    }
    33.33% {
        width: 0;
        border-right: solid;
    }
    34% {
        border-right: none;
    }
    50% {
        width: 0;
        border-right: none;
    }
    66.67% {
        width: 0;
    }
    83.33% {
        width: 0;
    }
    100% {
        width: 0;
        border-right: none;
    }
}

@keyframes apparition-letter-typing-name {
    0% {
        width: 0;
    }
    16.67% {
        width: 8ch;
    }
    22% {
        width: 8ch;
        border-right: solid;
    }
    33.33% {
        width: 0;
        border-right: solid;
    }
    34% {
        border-right: none;
    }
    50% {
        width: 0;
        border-right: none;
    }
    66.67% {
        width: 0;
    }
    83.33% {
        width: 0;
    }
    100% {
        width: 0;
        border-right: none;
    }
}

@-webkit-keyframes apparition-letter-typing-now-1 {
    0% {
        width: 0;
        border-right: none;        
    }
    16.67% {
        width: 0;
        border-right: none;
    }
    33.33% {
        width: 0;
    }
    50% {
        width: 13ch;
        border-right: solid;
    }
    52% {
        border-right: none;
    }
    66.67% {
        width: 13ch;
        border-right: none;
    }
    82% {
        border-right: none;
    }
    83.33% {
        width: 13ch;
        border-right: solid;
    }
    100% {
        width: 0;

    }
}

@keyframes apparition-letter-typing-now-1 {
    0% {
        width: 0;
        border-right: none;        
    }
    16.67% {
        width: 0;
        border-right: none;
    }
    33.33% {
        width: 0;
    }
    50% {
        width: 13ch;
        border-right: solid;
    }
    52% {
        border-right: none;
    }
    66.67% {
        width: 13ch;
        border-right: none;
    }
    82% {
        border-right: none;
    }
    83.33% {
        width: 13ch;
        border-right: solid;
    }
    100% {
        width: 0;

    }
}

@-webkit-keyframes apparition-letter-typing-now-2 {
    0% {
        width: 0;
        border-right: none;
    }
    16.67% {
        width: 0;
        border-right: none;
    }
    33.33% {
        width: 0;
        border-right: none;
    }
    50% {
        width: 0;
    }
    66.67% {
        width: 13ch;
        border-right: solid;
    }
    72% {
        width: 13ch;
        border-right: solid;
    }
    83.33% {
        width: 0;
    }
    100% {
        width: 0;
        border-right: none;
    }
}

@keyframes apparition-letter-typing-now-2 {
    0% {
        width: 0;
        border-right: none;
    }
    16.67% {
        width: 0;
        border-right: none;
    }
    33.33% {
        width: 0;
        border-right: none;
    }
    50% {
        width: 0;
    }
    66.67% {
        width: 13ch;
        border-right: solid;
    }
    72% {
        width: 13ch;
        border-right: solid;
    }
    83.33% {
        width: 0;
    }
    100% {
        width: 0;
        border-right: none;
    }
}
      
@-webkit-keyframes bar-typing-animation {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--golden-pink);
    }
}
      
@keyframes bar-typing-animation {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--golden-pink);
    }
}

/* -------------------------------------- Animations relatives aux languages de programmation qui tournent -------------------------------------- */

@-webkit-keyframes spin-0 {
    from {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(0deg);
    }
    to {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(var(--rotation-complete));
    }
}

@keyframes spin-0 {
    from {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(0deg);
    }
    to {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(var(--rotation-complete));
    }
}

@-webkit-keyframes spin-0-text {
    from {
        transform: rotateY(0deg) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
    to {
        transform: rotateY(calc(-1 * var(--rotation-complete))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
}

@keyframes spin-0-text {
    from {
        transform: rotateY(0deg) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
    to {
        transform: rotateY(calc(-1 * var(--rotation-complete))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
}

@-webkit-keyframes spin-45 {
    from {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(var(--rotation-language-competences));
    }
    to {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-complete) + var(--rotation-language-competences)));
    }
}

@keyframes spin-45 {
    from {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(var(--rotation-language-competences));
    }
    to {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-complete) + var(--rotation-language-competences)));
    }
}

@-webkit-keyframes spin-45-text {
    from {
        transform: rotateY(calc(-1 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
    to {
        transform: rotateY(calc(-1 * var(--rotation-complete) - var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
}

@keyframes spin-45-text {
    from {
        transform: rotateY(calc(-1 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
    to {
        transform: rotateY(calc(-1 * var(--rotation-complete) - var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
}

@-webkit-keyframes spin-90 {
    from {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-language-competences) * 2));
    }
    to {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-complete) + 2 * var(--rotation-language-competences)));
    }
}

@keyframes spin-90 {
    from {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-language-competences) * 2));
    }
    to {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-complete) + 2 * var(--rotation-language-competences)));
    }
}

@-webkit-keyframes spin-90-text {
    from {
        transform: rotateY(calc(-2 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
    to {
        transform: rotateY(calc(-1 * var(--rotation-complete) - 2 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
}

@keyframes spin-90-text {
    from {
        transform: rotateY(calc(-2 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
    to {
        transform: rotateY(calc(-1 * var(--rotation-complete) - 2 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
}

@-webkit-keyframes spin-135 {
    from {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-language-competences) * 3));
    }
    to {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-complete) + 3 * var(--rotation-language-competences)));
    }
}

@keyframes spin-135 {
    from {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-language-competences) * 3));
    }
    to {
        transform: rotateZ(var(--rotation-sphere-language-competences)) rotateY(calc(var(--rotation-complete) + 3 * var(--rotation-language-competences)));
    }
}

@-webkit-keyframes spin-135-text {
    from {
        transform: rotateY(calc(-3 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
    to {
        transform: rotateY(calc(-1 * var(--rotation-complete) - 3 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
}

@keyframes spin-135-text {
    from {
        transform: rotateY(calc(-3 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
    to {
        transform: rotateY(calc(-1 * var(--rotation-complete) - 3 * var(--rotation-language-competences))) rotateZ(calc(-1 * var(--rotation-sphere-language-competences)));
    }
}

@-webkit-keyframes couleur-face-mobile {
    0% {
        color: var(--transparence);
    }
    15% {
        color: var(--blanc-casse);
    }
    50% {
        color: var(--blanc-casse);
    }
    70% {
        color: var(--transparence)
    }
    100% {
        color: var(--transparence);
    }
}

@keyframes couleur-face-mobile {
    0% {
        color: var(--transparence);
    }
    15% {
        color: var(--blanc-casse);
    }
    50% {
        color: var(--blanc-casse);
    }
    70% {
        color: var(--transparence)
    }
    100% {
        color: var(--transparence);
    }
}

@-webkit-keyframes couleur-face-mobile-firebase {
    0% {
        color: var(--transparence);
    }
    15% {
        color: var(--golden-pink);
    }
    50% {
        color: var(--golden-pink);
    }
    70% {
        color: var(--transparence)
    }
    100% {
        color: var(--transparence);
    }
}

@keyframes couleur-face-mobile-firebase {
    0% {
        color: var(--transparence);
    }
    15% {
        color: var(--golden-pink);
    }
    50% {
        color: var(--golden-pink);
    }
    70% {
        color: var(--transparence)
    }
    100% {
        color: var(--transparence);
    }
}

@-webkit-keyframes couleur-face-mobile-2 {
    0% {
        color: var(--blanc-casse);
    }
    17% {
        color: var(--transparence);
    }
    50% {
        color: var(--transparence);
    }
    67% {
        color: var(--blanc-casse);
    }
    100% {
        color: var(--blanc-casse);
    }
}

@keyframes couleur-face-mobile-2 {
    0% {
        color: var(--blanc-casse);
    }
    17% {
        color: var(--transparence);
    }
    50% {
        color: var(--transparence);
    }
    67% {
        color: var(--blanc-casse);
    }
    100% {
        color: var(--blanc-casse);
    }
}

@-webkit-keyframes couleur-face-web {
    0% {
        color: var(--blanc-casse);
    }
    20% {
        color: var(--blanc-casse);
    }
    40% {
        color: var(--transparence);
    }
    70% {
        color: var(--transparence);
    }
    85% {
        color: var(--blanc-casse);
    }
    100% {
        color: var(--blanc-casse);
    }
}

@keyframes couleur-face-web {
    0% {
        color: var(--blanc-casse);
    }
    20% {
        color: var(--blanc-casse);
    }
    40% {
        color: var(--transparence);
    }
    70% {
        color: var(--transparence);
    }
    85% {
        color: var(--blanc-casse);
    }
    100% {
        color: var(--blanc-casse);
    }
}

@-webkit-keyframes couleur-face-web-2 {
    0% {
        color: var(--transparence);
    }
    20% {
        color: var(--transparence);
    }
    40% {
        color: var(--blanc-casse);
    }
    70% {
        color: var(--blanc-casse);
    }
    90% {
        color: var(--transparence);
    }
    100% {
        color: var(--transparence);
    }
}

@keyframes couleur-face-web-2 {
    0% {
        color: var(--transparence);
    }
    20% {
        color: var(--transparence);
    }
    40% {
        color: var(--blanc-casse);
    }
    70% {
        color: var(--blanc-casse);
    }
    90% {
        color: var(--transparence);
    }
    100% {
        color: var(--transparence);
    }
}

@-webkit-keyframes couleur-face-python {
    0% {
        color: var(--blanc-casse);
    }
    20% {
        color: var(--blanc-casse);
    }
    50% {
        color: var(--transparence);
    }
    80% {
        color: var(--transparence);
    }
    90% {
        color: var(--blanc-casse);
    }
    100% {
        color: var(--blanc-casse);
    }
}

@keyframes couleur-face-python {
    0% {
        color: var(--blanc-casse);
    }
    20% {
        color: var(--blanc-casse);
    }
    50% {
        color: var(--transparence);
    }
    80% {
        color: var(--transparence);
    }
    90% {
        color: var(--blanc-casse);
    }
    100% {
        color: var(--blanc-casse);
    }
}

@-webkit-keyframes couleur-face-github {
    0% {
        color: var(--transparence);
    }
    40% {
        color: var(--transparence);
    }
    50% {
        color: var(--golden-pink);
    }
    80% {
        color: var(--golden-pink);
    }
    90% {
        color: var(--transparence);
    }
    100% {
        color: var(--transparence);
    }
}

@keyframes couleur-face-github {
    0% {
        color: var(--transparence);
    }
    40% {
        color: var(--transparence);
    }
    50% {
        color: var(--golden-pink);
    }
    80% {
        color: var(--golden-pink);
    }
    90% {
        color: var(--transparence);
    }
    100% {
        color: var(--transparence);
    }
}

@-webkit-keyframes couleur-face-inkscape {
    0% {
        color: var(--golden-pink);
    }
    30% {
        color: var(--transparence);
    }
    50% {
        color: var(--transparence);
    }
    60% {
        color: var(--transparence);
    }
    98% {
        color: var(--golden-pink);
    }
    100% {
        color: var(--golden-pink);
    }
}

@keyframes couleur-face-inkscape {
    0% {
        color: var(--golden-pink);
    }
    30% {
        color: var(--transparence);
    }
    50% {
        color: var(--transparence);
    }
    60% {
        color: var(--transparence);
    }
    98% {
        color: var(--golden-pink);
    }
    100% {
        color: var(--golden-pink);
    }
}

@-webkit-keyframes couleur-face-latex {
    0% {
        color: var(--transparence);
    }
    15% {
        color: var(--transparence);
    }
    50% {
        color: var(--blanc-casse);
    }
    60% {
        color: var(--blanc-casse);
    }
    98% {
        color: var(--transparence);
    }
    100% {
        color: var(--transparence);
    }
}

@keyframes couleur-face-latex {
    0% {
        color: var(--transparence);
    }
    15% {
        color: var(--transparence);
    }
    50% {
        color: var(--blanc-casse);
    }
    60% {
        color: var(--blanc-casse);
    }
    98% {
        color: var(--transparence);
    }
    100% {
        color: var(--transparence);
    }
}

@-webkit-keyframes blur-change {
    from {
        -webkit-filter: blur(10px);
            filter: blur(10px);
    }
    to {
        -webkit-filter: blur(13px);
            filter: blur(13px);
    }
}

@keyframes blur-change {
    from {
        -webkit-filter: blur(10px);
            filter: blur(10px);
    }
    to {
        -webkit-filter: blur(13px);
            filter: blur(13px);
    }
}
