@import '../variables/variable.css';
@import '../variables/keyframe.css';

/* -------------------------------- Généralistés -------------------------------- */

body {
    background-color: var(--bleu-fonce);
    color: var(--blanc-casse);
}

a {
    text-decoration: none;
}

.retour-haut-page {
    display: none;
}

/* -------------------------------- Barre de naviguation --------------------------------*/

.nav-bar-container {
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--golden-pink);
    color: var(--bleu-fonce);
    width: var(--nav-width);
    height: 100vh;
    padding: var(--padding-lr-nav) 0;
    transition: all 0.15s linear;
    transform: translateX(calc(-1 * var(--nav-width)));
}

nav #nav-checkbox {
    display: none;
}

nav .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bleu-fonce);
}

nav .logo .circle {
    width: var(--logo-circle);
    height: var(--logo-circle);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--bleu-fonce) 2px solid;
    border-radius: 50%;
    font-size: 30px;
}

nav .logo .prenom {
    margin: 15px 0;
    font-variant: small-caps;
    font-size: 25px;
}

nav .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .nav-links a {
    text-decoration: none;
    text-align: center;
    color: var(--bleu-fonce);
    margin: 5px 0;
    font-size: 18px;
    width: 100%;
    transition: transform 0.1s linear;
}

nav .nav-links .part-link-page:hover {
    transform: translateX(10px);
}

.contact-link {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-link a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link a span {
    height: var(--nav-contact-link);
    width: var(--nav-contact-link);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-link a:nth-child(1) span {
    background-image: url('../images/github-icon-dark.svg');
}

.contact-link a:nth-child(2) span {
    background-image: url('../images/linkedin-icon-dark.svg');
}

.contact-link a:nth-child(3) span {
    background-image: url('../images/mail-icon-dark.svg');
    width: 28px;
}

.contact-link a:hover {
    transform: translateY(-10px);
}

/* Menu burger animation */

nav .nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    background-color: var(--bleu-fonce);
    width: var(--burger-menu-circle);
    height: var(--burger-menu-circle);
    border-radius: 50px;
    border: solid 2px var(--golden-pink-transparence);
    top: var(--burger-menu-top-right);
    right: var(--burger-menu-top-right);
}

nav .nav-button span {
    width: 25px;
    height: 2px;
    background-color: var(--blanc-casse);
    transition: all 0.2s linear;
}

nav .nav-button .line-1 {
    background: linear-gradient(to right, var(--golden-pink) 50%, transparent 50%);
}

nav .nav-button .line-2 {
    margin: 3px 0;
}

nav .nav-button .line-3 {
    background: linear-gradient(to left, var(--golden-pink) 50%, transparent 50%);
}

nav #nav-checkbox:checked ~ .nav-button > .line-1 {
    transform:  translateY(5px) rotateZ(45deg);
    background-color: var(--golden-pink);
}

nav #nav-checkbox:checked ~ .nav-button > .line-2 {
    opacity: 0;
}

nav #nav-checkbox:checked ~ .nav-button > .line-3 {
    transform: translateY(-5px) rotateZ(-45deg);
    background-color: var(--golden-pink);
}

nav #nav-checkbox:checked ~ .nav-bar-container {
    transform: translateX(0);
}

/* -------------------------------- Section -------------------------------- */

/* -------------------------------- Quelques généralités concernant les articles -------------------------------- */

.section-index {
    padding: 0 var(--padding-lr-section);
}

.article-home {
    padding: var(--padding-tb-article) 0;
    width: 100%;
}

/* Titre */ 

.article h1, .typing-animation-home, .titre-presentation {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 50px;
    font-weight: bolder;
    color: var(--golden-pink);
    position: relative;
}

.article .titre-home {
    margin-bottom: var(--titre-margin-bottom-tablet);
}

.article > h1:hover span:not(.projet-titre-pas-anim), .titre-presentation:hover span {
    position: relative;
    display: inline-block;
    -webkit-animation: jumping-waves-letter 0.7s ease-in-out ;
            animation: jumping-waves-letter 0.7s ease-in-out ;
    -webkit-animation-delay: calc(0.04s * var(--i));
            animation-delay: calc(0.04s * var(--i));
}

/* -------------------------------- Page d'accueil -------------------------------- */

.presentation-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.titre-presentation > span {
    color: var(--blanc-casse);
}

.container-typing-animation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper-animation-typing-start {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
    
.typing-animation-name, .typing-animation-now-1 { 
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    grid-area: 1 / 1 / 2 / 2; 
}

.typing-animation-name {
    -webkit-animation: apparition-letter-typing-name 12s steps(8) infinite, bar-typing-animation .5s infinite alternate;
            animation: apparition-letter-typing-name 12s steps(8) infinite, bar-typing-animation .5s infinite alternate;
}

.typing-animation-now-1 {
    -webkit-animation: apparition-letter-typing-now-1 12s steps(13) infinite, bar-typing-animation .5s infinite alternate;
            animation: apparition-letter-typing-now-1 12s steps(13) infinite, bar-typing-animation .5s infinite alternate;
}

.typing-animation-now-2 {
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
    border-right: 3px solid transparent;
    -webkit-animation: apparition-letter-typing-now-2 12s steps(13) infinite, bar-typing-animation .5s infinite alternate;
            animation: apparition-letter-typing-now-2 12s steps(13) infinite, bar-typing-animation .5s infinite alternate;
}

.button-style {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 18px;
    color: var(--blanc-casse);
    border: 1px solid var(--blanc-casse);
    border-radius: var(--border-radius-button);
    padding: 10px 25px;
    margin: 45px 0 55px 0;
}

.button-style:hover {
    color: var(--bleu-fonce);
    background-color: var(--blanc-casse);
}

.contact-link-accueil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-link-accueil a div {
    height: var(--ext-link-pres-tablet);
    width: var(--ext-link-pres-tablet);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-link-accueil a:nth-child(1) div {
    background-image: url('../images/github-icon-light.svg');
}

.contact-link-accueil a:nth-child(2) div {
    background-image: url('../images/linkedin-icon-light.svg');
    margin: 0 40px;
}

.contact-link-accueil a:nth-child(3) div {
    background-image: url('../images/mail-icon-light.svg');
    width: 33px;
}

/* -------------------------------- À propos -------------------------------- */

.container-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-about div {
    width: 100%;
}

.container-about .map {
    display: none;
}


/* -------------------------------- Cursus - slider -------------------------------- */

.container-slider-about {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.container-slider-about input {
    display: none;
}

.container-slider-about .slider-label-container {
    display: flex;
}

.container-slider-about .swiper-container-about label {
    height: var(--slider-label-size);
    width: var(--slider-label-size);
    transform: rotateZ(45deg);
    border-radius: 2px;
    border: var(--golden-pink) solid 1px;
    margin: 40px 20px;
}

.container-slider-about .line {
    position: absolute;
    border-bottom: var(--golden-pink) solid 5px;
    height: calc(var(--hexagon-height-slider) / 2);
    width: var(--width-slider-about-tablet);
    z-index: -99;
}

.container-slider-about .swiper-container-about {
    overflow: hidden;
    width: var(--width-slider-about-tablet);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-slider-about .swiper-wrapper-about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    box-sizing: content-box;
    transition: transform 0.2s ease-in-out;
}

.container-slider-about .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.container-slider-about .hexagon-border, .container-slider-about .hexagon, .container-slider-about .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-slider-about .hexagon-border, .container-slider-about .hexagon {
    -webkit-clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%);
            clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%);
}

.container-slider-about .hexagon-border {
    background-color: var(--golden-pink);
    height: var(--hexagon-height-slider);
    width: var(--hexagon-width-slider-tablet);
}

.container-slider-about .hexagon {
    background-color: var(--bleu-fonce);
    color: var(--blanc-casse);
    font-size: 20px;
    height: calc(var(--hexagon-height-slider) - 10px);
    width: calc(var(--hexagon-width-slider-tablet) - 10px);
}

.container-slider-about .hexagon span:nth-child(2) {
    margin: 10px 0;
}

.container-slider-about .caret {
    background-color: var(--golden-pink);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 30px;
    height: 15px;
    margin: 20px 0;
}

.container-slider-about .date {
    font-size: 20px;
}

.container-slider-about .swiper-container-about #cursus-input-1:checked ~ .swiper-wrapper-about {
    transform: translateX(0);
}

#about .container-slider-about .swiper-container-about #cursus-input-2:checked ~ .swiper-wrapper-about {
    transform: translateX(var(--width-translate-about-tablet));
}

.container-slider-about .swiper-container-about #cursus-input-3:checked ~ .swiper-wrapper-about {
    transform: translateX(calc(2 * var(--width-translate-about-tablet)));
}

.container-slider-about .swiper-container-about #cursus-input-4:checked ~ .swiper-wrapper-about {
    transform: translateX(calc(3 * var(--width-translate-about-tablet)));
}

.container-slider-about .swiper-container-about #cursus-input-5:checked ~ .swiper-wrapper-about {
    transform: translateX(calc(4 * var(--width-translate-about-tablet)));
}

.container-slider-about .swiper-container-about #cursus-input-1:checked ~ .slider-label-container #cursus-label-1 {
    background-color: var(--golden-pink);
    transform: rotateZ(45deg) scale(1.5);
}

.container-slider-about .swiper-container-about #cursus-input-2:checked ~ .slider-label-container #cursus-label-2 {
    background-color: var(--golden-pink);
    transform: rotateZ(45deg) scale(1.5);
}

.container-slider-about .swiper-container-about #cursus-input-3:checked ~ .slider-label-container #cursus-label-3 {
    background-color: var(--golden-pink);
    transform: rotateZ(45deg) scale(1.5);
}

.container-slider-about .swiper-container-about #cursus-input-4:checked ~ .slider-label-container #cursus-label-4 {
    background-color: var(--golden-pink);
    transform: rotateZ(45deg) scale(1.5);
}

.container-slider-about .swiper-container-about #cursus-input-5:checked ~ .slider-label-container #cursus-label-5 {
    background-color: var(--golden-pink);
    transform: rotateZ(45deg) scale(1.5);
}

/* -------------------------------- Mes compétences -------------------------------- */

.container-texte-competence-home {
    margin-bottom: 30px;
}

.container-competence-bar-date .competence-date > .icon-caret-comp {
    background-color: var(--golden-pink);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 14px;
    height: 7px;
    margin: 5px 0;
}

.container-competence-bar-date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 5px;
    margin-top: 30px;
    width: 100%; 
}

.competence-underline {
    border-bottom: solid var(--golden-pink) 1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.competence-latex {
    grid-area: 1 / 2 / 2 / 8; 
}

.competence-html-css {
    grid-area: 2 / 3 / 3 / 8; 
}

.competence-js-sass {
    grid-area: 3 / 4 / 4 / 8; 
}

.competence-flutter {
    grid-area: 4 / 5 / 5 / 8; 
}

.competence-python {
    grid-area: 5 / 6 / 6 / 8; 
}

.competence-sql {
    grid-area: 6 / 7 / 7 / 8; 
}

.competence-date-latex {
    grid-area: 2 / 1 / 3 / 3; 
}

.competence-date-html-css {
    grid-area: 3 / 2 / 4 / 4; 
}

.competence-date-js-sass {
    grid-area: 4 / 3 / 5 / 5; 
}

.competence-date-flutter {
    grid-area: 5 / 4 / 6 / 6; 
}

.competence-date-python {
    grid-area: 6 / 5 / 7 / 7; 
}

.competence-date-sql {
    grid-area: 7 / 6 / 8 / 8; 
}

.container-competence-bar-date .competence-date {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* -------------------------------- Animation relative aux langages qui tournent ---------------------------------------------- */

.container-sphere {
    /* centrer la sphere */
    min-height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 170px 0;
}

.sphere-centre {
    /* position absolute "permet" de centrer la sphere car on utilise le display flex sur container-sphere */
    position: absolute;
    height: var(--sphere-centre-competences-size);
    width: var(--sphere-centre-competences-size);
    border-radius: 50%;
    background-color: var(--golden-pink);
    -webkit-animation: blur-change 1.7s infinite alternate ease-in-out;
            animation: blur-change 1.7s infinite alternate ease-in-out;
}

.wrapper-sphere {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    transform-style: preserve-3d;
    perspective: 1000px;
}

.sphere {
    position: relative;
    width: var(--largeur-sphere-langages-competences);
    height: var(--hauteur-sphere-langages-competences);
    grid-area: 1 / 1 / 2 / 2;
    font-size: 20px;
    transform-style: preserve-3d;
}

.mobile {
    -webkit-animation: spin-0 var(--temps-sphere) linear infinite;
            animation: spin-0 var(--temps-sphere) linear infinite;
}

.web {   
    -webkit-animation: spin-90 var(--temps-sphere) linear infinite;   
            animation: spin-90 var(--temps-sphere) linear infinite;
}

.python-github {  
    -webkit-animation: spin-45 var(--temps-sphere) linear infinite;  
            animation: spin-45 var(--temps-sphere) linear infinite;
}

.inkscape-latex {  
    -webkit-animation: spin-135 var(--temps-sphere) linear infinite;  
            animation: spin-135 var(--temps-sphere) linear infinite;
}

.mobile .dart, .mobile .firebase {
    -webkit-animation: spin-0-text var(--temps-sphere) linear infinite, couleur-face-mobile var(--temps-sphere) infinite;
            animation: spin-0-text var(--temps-sphere) linear infinite, couleur-face-mobile var(--temps-sphere) infinite;
}

.mobile .firebase {
    -webkit-animation: spin-0-text var(--temps-sphere) linear infinite, couleur-face-mobile-firebase var(--temps-sphere) infinite;
            animation: spin-0-text var(--temps-sphere) linear infinite, couleur-face-mobile-firebase var(--temps-sphere) infinite;
}

.mobile .nosql, .mobile .flutter {
    -webkit-animation: spin-0-text var(--temps-sphere) linear infinite, couleur-face-mobile-2 var(--temps-sphere) infinite;
            animation: spin-0-text var(--temps-sphere) linear infinite, couleur-face-mobile-2 var(--temps-sphere) infinite;
}

.web .html, .web .scss {
    -webkit-animation: spin-90-text var(--temps-sphere) linear infinite, couleur-face-web var(--temps-sphere) infinite;
            animation: spin-90-text var(--temps-sphere) linear infinite, couleur-face-web var(--temps-sphere) infinite;
}

.web .js, .web .sql {
    -webkit-animation: spin-90-text var(--temps-sphere) linear infinite, couleur-face-web-2 var(--temps-sphere) infinite;
            animation: spin-90-text var(--temps-sphere) linear infinite, couleur-face-web-2 var(--temps-sphere) infinite;
}

.python-github .python {
    -webkit-animation: spin-45-text var(--temps-sphere) linear infinite, couleur-face-python var(--temps-sphere) linear infinite;
            animation: spin-45-text var(--temps-sphere) linear infinite, couleur-face-python var(--temps-sphere) linear infinite;
}

.python-github .github {
    -webkit-animation: spin-45-text var(--temps-sphere) linear infinite, couleur-face-github var(--temps-sphere) linear infinite;
            animation: spin-45-text var(--temps-sphere) linear infinite, couleur-face-github var(--temps-sphere) linear infinite;
}

.inkscape-latex .inkscape {
    -webkit-animation: spin-135-text var(--temps-sphere) linear infinite, couleur-face-inkscape var(--temps-sphere) infinite;
            animation: spin-135-text var(--temps-sphere) linear infinite, couleur-face-inkscape var(--temps-sphere) infinite;
}

.inkscape-latex .latex {
    -webkit-animation: spin-135-text var(--temps-sphere) linear infinite, couleur-face-latex var(--temps-sphere) infinite;
            animation: spin-135-text var(--temps-sphere) linear infinite, couleur-face-latex var(--temps-sphere) infinite;
}

.position-sphere {
    position: absolute;
}

.dart {
    top: var(--sphere-position-50-competences);
    left: var(--sphere-position-50-competences);
}

.html {
    top: var(--sphere-position-10-competences);
    left: var(--sphere-position-50-competences);
}

.firebase {
    bottom: var(--sphere-position-50-competences);
    left: var(--sphere-position-70-competences);
}

.scss {
    bottom: var(--sphere-position-10-competences);
    left: var(--sphere-position-70-competences);
}

.nosql {
    top: var(--sphere-position-50-competences);
    right: var(--sphere-position-70-competences);
}

.js {
    top: var(--sphere-position-10-competences);
    right: var(--sphere-position-70-competences);
}

.flutter {
    bottom: var(--sphere-position-50-competences);
    right: var(--sphere-position-50-competences);
}

.sql {
    bottom: var(--sphere-position-10-competences);
    right: var(--sphere-position-50-competences);
}

.python, .inkscape {
    top: calc(var(--hauteur-sphere-langages-competences) / 2 - 15px);
    left: var(--sphere-position-100-competences);
}

.github, .latex {
    top: calc(var(--hauteur-sphere-langages-competences) / 2 - 15px);
    right: var(--sphere-position-100-competences);
}

/* -------------------------------- Projets -------------------------------- */

.container-projet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-projet {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.wrapper-projet > a {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid var(--blanc-casse);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--blanc-casse);
    text-decoration: none;
    margin: 10px;
}

.triangle, .triangle-2 {
    width: 29.8px;
    height: 29.8px;
    transition: transform 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0);
}

.triangle {
    transform-origin: top left;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%);
}

.triangle-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
 
.wrapper-projet .memo-game { 
    background-image: url('../images/memo-game.png');
}
.wrapper-projet .nbr-signe {
    background-image: url('../images/nbr-signe.png');
}
.wrapper-projet .math {
    background-image: url('../images/math.svg');
}
.wrapper-projet .to-do-list { 
    background-image: url('../images/to-do-list.png');
}
.wrapper-projet .app-mob { 
    background-image: url('../images/app-mob.png');
}
.wrapper-projet .pswd-gen { 
    background-image: url('../images/pswd-gen.png');
}

.wrapper-projet a:hover .triangle, .wrapper-projet a:hover .triangle-2 {
    transform: scale(10);
    background-image: url('../images/js-html-css.png');
}

.wrapper-projet .math:hover {
    background-image: url('../images/math-blur.svg');
}

.wrapper-projet .memo-game:hover {
    background-image: url('../images/memo-game-blur.svg');
}

.wrapper-projet .to-do-list:hover {
    background-image: url('../images/to-do-list-blur.png');
}

.wrapper-projet .pswd-gen:hover {
    background-image: url('../images/pswd-gen-blur.svg');
}

.wrapper-projet .app-mob:hover {
    background-image: url('../images/app-mob-blur.png');
}

.wrapper-projet .nbr-signe:hover {
    background-image: url('../images/nbr-signe-blur.svg');
}

.wrapper-projet .math:hover .triangle, .wrapper-projet .math:hover .triangle-2 {
    background-image: url('../images/js-html-scss.png');
}

.wrapper-projet .app-mob:hover .triangle, .wrapper-projet .app-mob:hover .triangle-2 {
    background-image: url('../images/flutter.png');
}

.wrapper-projet .nbr-signe:hover .triangle, .wrapper-projet .nbr-signe:hover .triangle-2 {
    background-image: url('../images/python.png');
}

/* -------------------------------- Expériences pro -------------------------------- */

.container-exp-pro-input-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-exp-pro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.exp-pro-card-checkbox {
    display: none;
}

.exp-pro-label {
    margin-bottom: 50px;
    border: 1px solid var(--blanc);
    border-radius: 10px;
    width: 170px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-pro-label > .plus {
    display: block;
}

.exp-pro-label > .moins {
    display: none;
}

.wrapper-exp-pro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: var(--exp-pro-card);
    height: var(--exp-pro-card);
    margin: 40px;
}

.wrapper-exp-pro .cote > * {
    transform: translateZ(100px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.wrapper-exp-pro .cote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
}

.face {
    background-color: rgb(33, 33, 58);
    font-size: 30px;
}

.face > div:last-child {
    margin-top: 20px;
    color: var(--gris);
    font-size: 25px;
}

.dos {
    background-color: #ecbba760;
    transform: perspective(1000px) rotate3d(1, 1, 0, 180deg);
    font-size: 14px;
}

.dos ul {
    width: 220px;
}

.dos ul li {
    list-style-position: outside;
}

.dos ul li:first-child {
    margin-bottom: 10px;
}

#exp-pro-card-checkbox-1:checked ~ .wrapper-exp-pro .face {
    transform: perspective(1000px) rotate3d(1, 1, 0, 180deg);
}

#exp-pro-card-checkbox-1:checked ~ .wrapper-exp-pro .dos {
    transform: perspective(1000px) rotate3d(1, 1, 0, 360deg);
}

#exp-pro-card-checkbox-1:checked ~ label > .plus {
    display: none;
}

#exp-pro-card-checkbox-1:checked ~ label > .moins {
    display: block;
}

#exp-pro-card-checkbox-2:checked ~ .wrapper-exp-pro .face {
    transform: perspective(1000px) rotate3d(1, 1, 0, 180deg);
}

#exp-pro-card-checkbox-2:checked ~ .wrapper-exp-pro .dos {
    transform: perspective(1000px) rotate3d(1, 1, 0, 360deg);
}

#exp-pro-card-checkbox-2:checked ~ label > .plus {
    display: none;
}

#exp-pro-card-checkbox-2:checked ~ label > .moins {
    display: block;
}

/* -------------------------------- Centre d'interet -------------------------------- */

.container-interet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-interet {
    max-width: 1000px;
}

.interet-texte-img .interet-texte a, .descriprion-projet-texte a {
    color: var(--golden-pink);
}

.interet-texte-img {
    padding: calc(var(--padding-interet) + 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interet-video, .interet-dev {
    border-left: var(--border-interet);
    border-bottom: var(--border-interet);
}

.interet-jeux {
    border-right: var(--border-interet);
    border-bottom: var(--border-interet);
}

.interet-dessin {
    border-right: var(--border-interet);
}

.interet-texte-img .interet-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.interet-video .interet-img-video {
    background-image: url("../images/interet-video.svg");
    margin-right: var(--padding-interet);
}

.interet-jeux .interet-img-jeux {
    background-image: url("../images/interet-jeu.svg");
    margin-left: var(--padding-interet);
}

.interet-dev .interet-img-dev {
    background-image: url("../images/interet-dev.svg");
    margin-right: var(--padding-interet);
}

.interet-dessin .interet-img-dessin {
    background-image: url("../images/interet-dessin.svg");
    margin-left: var(--padding-interet);
}

/* -------------------------------- Page projets individuels -------------------------------- */

.section-projet-individuel {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-projet-individuel {
    max-width: 1100px;
    padding: var(--padding-tb-article) var(--padding-lr-article-projet-tablet);
}

.article-projet-individuel .titre-projet {
    display: flex;
    align-items: center;
}

.article-projet-individuel .titre-projet .retour-projet-index {
    margin-right: 25px;
    background-image: url('../images/back-projet.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 38px;
    width: 19.4px;
}

.article-projet-individuel figure a img {
    height: auto;
    margin: 50px 0 20px 0;
}

.img-responsive-projet {
    width: 100%; 
}

.img-responsive-projet-a {
    width: 580px;   
}

.h2-projet-individuel {
    font-size: 30px;
    color: var(--blanc);
    margin: 40px 0;
}

.article-projet-individuel .code-python {
    background-color: var(--bleu-clair);
    padding: 10px 20px;
    margin-top: 30px;
    border: solid 1px var(--transparence);
    border-radius: var(--border-radius-button);
}

.article-projet-individuel .code-python span:nth-child(1), .article-projet-individuel .code-python span:nth-child(2) {
    color: var(--golden-pink);
}

.article-projet-individuel .code-python span:nth-child(3), .article-projet-individuel .code-python span:nth-child(4), .article-projet-individuel .code-python span:nth-child(5) {
    color: var(--bleu-ciel);
}

.container-technologie, .github-website {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-technologie > div {
    background-color: var(--golden-pink);
    color: var(--bleu-fonce);
    margin: 0 30px 20px 0;
    padding: 5px 15px;
    font-weight: bold;
    text-align: center;
    border-radius: var(--border-radius-technologie);
}

.container-technologie > div:last-child {
    margin-right: 0;
}

.github-website > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--blanc-casse);
}

.github-website a .icon-ext {
    width: var(--nav-contact-link);
    height: var(--nav-contact-link);
    margin-right: 15px;
}

.github-website a .icon-light-github {
    background-image: url('../images/github-icon-light.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.github-website a .icon-light-website {
    background-image: url('../images/github-icon-light.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
}


.github-website a .icon-light-website {
    background-image: url('../images/web_light.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-height: 500px) {
    .nav-bar-container {
        justify-content: center;
    }

    .nav-bar-container .logo, .nav-bar-container .contact-link, .nav-bar-container .ghost {
        display: none;
    }

    .retour-haut-page {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--bleu-fonce);
        border-radius: 50%;
        border: white solid 1px;
        font-size: 30px;
        transform: rotateZ(90deg);
        position: fixed;
        z-index: 99;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
    }
}
